@charset "utf-8";

:root {
    --background: #fefbff;
    --main-text: #1b1b1f;
    --sub-text: #44474f;

    --body-background: #fefbff;
    --card-background: #f1f3fc;
    --onepoint-color: #d8e2ff;

    --shadow: #aaa;

    --theme-color: #005ac1;

    --link-color: #6060ff;
    --link-hover-color: #a0a0ff;
    
    --article-card-background: #fed6ff;
    --article-card-color: #2d0e34;

    --button-color: #fff;

    --grid-margin: 1.5rem;

    --radius-large: 20px;
    --radius-midium: 12px;
    --radius-small: 6px;

    --heading-padding: 1rem;
    --heading-size: 1.0;

    --easing: cubic-bezier(.22,.9,.28,.98);

    scroll-behavior: smooth;
    color-scheme: dark light;
    font-feature-settings: "palt";
    overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1b1b1f;
        --main-text: #e3e2e6;
        --sub-text: #c4c6d0;

        --body-background: #1b1b1f;
        --card-background: #23242a;
        --onepoint-color: #004494;

        --shadow: #000;

        --theme-color: #adc6ff;

        --link-color: #a4a4ff;
        --link-hover-color: #ccf;
        
        --article-card-background: #5d3a62;
        --article-card-color: #fed6ff;

        --button-color: #002e69;
    }
}

body {
    background-color: var(--background);
    color: var(--main-text);
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 2rem;
    max-width: 1920px;
    box-sizing: border-box;
}

header, footer {
    text-align: center;
}

h1 {
    padding: 1em var(--heading-padding);
    margin: 0.25em calc(var(--grid-margin) * -1);
    margin-top: calc(var(--grid-margin) * -1);
}

h2, h3, h4, h5, h6 {
    background-color: var(--card-background);
    padding: 0.25em var(--heading-padding);
    margin: 0.25em calc(var(--grid-margin) * -1);
}

h1 {
    font-size: calc(1.8em * var(--heading-size));
}

h2 {
    font-size: calc(1.6em * var(--heading-size));
    border-left: 0.7rem solid var(--onepoint-color);
}

h3 {
    font-size: calc(1.4em * var(--heading-size));
    border-left: 0.5rem solid var(--onepoint-color);
    text-indent: 0.5em;
}

h4 {
    font-size: calc(1.3em * var(--heading-size));
    border-left: 0.25rem solid var(--onepoint-color);
    text-indent: 1em;
}

h5 {
    font-size: calc(1.2em * var(--heading-size));
    border-left: 0.2rem solid var(--onepoint-color);
    text-indent: 1.5em;
}

h6 {
    font-size: calc(1.1em * var(--heading-size));
    border-left: 0.1rem solid var(--onepoint-color);
    text-indent: 2em;
}

code {
    background: var(--card-background);
    padding: 0 0.5em;
    border: 2px solid var(--sub-text);
    border-radius: var(--radius-small);
    user-select: all;
    word-break: break-all;
}

a, a:visited {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

ul li {
    margin: 0.5em 0em;
}

.ib {
    display: inline-block;
}

.header-link a{
    color: var(--main-text);
    text-decoration-line: none;
}

.grid-item {
    background-color: var(--body-background);
    padding: var(--grid-margin);
    min-width: 0;
}

.grid-item > article p {
    text-indent: 1em;
    line-height: 1.7em;
    margin: 1.7em 0.2em;
    text-align: justify;
}

.index-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 1rem 0.75rem;
}

.side {
    min-width: 10rem;
}

.side aside {
    margin-block-end: 1rem;
}

.side ul {
    list-style: none;
    padding: 0;
}

.side li {
    margin: 0;
}

.side li a {
    display: inline-block;
    padding: 0.5em 0;
}

.side select {
    padding-block: 0.5em;
    padding-inline: 1.2em;
    margin: 0.2rem;
    border-radius: var(--radius-large);
    font-weight: bold;
    background-color: var(--theme-color);
    color: var(--button-color);
    box-shadow: 0px 2px 2px var(--shadow);
    transition: opacity 0.5s;
}

.body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    width: 100%;
    margin: auto;    
}

.blog-copyright, .blog-powered {
    font-size: 0.8rem;
    color: var(--sub-text);
}

.sidebar-title {
    font-size: 1.5em;
}

.label {
    display: inline-block;
    text-align: center;
    padding-block: 0.5em;
    padding-inline: 1.2em;
    margin: 0.2rem;
    border-radius: var(--radius-large);
    font-weight: bold;
}

.button {
    display: inline-block;
    text-align: center;
    padding-block: 0.5em;
    padding-inline: 1.2em;
    margin: 0.5rem;
    border-radius: var(--radius-large);
    font-weight: bold;
}

.theme {
    background-color: var(--theme-color);
    color: var(--button-color);
    box-shadow: 0px 2px 2px var(--shadow);
    transition: opacity 0.5s;
}

.theme:hover {
    opacity: 0.75;
}

.blog-title {
    font-size: 2.4em;
}

.blog-description {
    margin-top: 0rem;
    color: var(--sub-text);
    font-size: 12px;
}

.article-post-link {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.article-post-link > a {
    display: contents;
}

.article-post-link > a > span {
    display: grid;
    grid-template-columns: 1.25em auto 1.25em;
    align-items: center;
    padding-inline: 0.5em;
}

.article-post-link > a > span.post-nav-prev {
    grid-column: 2 / 3;
}

.article-post-link > a > span > span:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.article-post-link > a > span > span:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.article-post-link > a > span.post-nav-prev > span:first-child {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.no-page {
    text-align: center;
    color: var(--sub-text);
    display: grid;
    place-content: center;
}

.icons {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.28em;
    background: currentColor;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

.icons-folder-open {
    mask-image: url(../icons/folder-open.svg);
    -webkit-mask-image: url(../icons/folder-open.svg);
}

.icons-label {
    mask-image: url(../icons/label.svg);
    -webkit-mask-image: url(../icons/label.svg);
}

.icons-navigate-before {
    mask-image: url(../icons/navigate-before.svg);
    -webkit-mask-image: url(../icons/navigate-before.svg);
}

.icons-navigate-next {
    mask-image: url(../icons/navigate-next.svg);
    -webkit-mask-image: url(../icons/navigate-next.svg);
}

.icons-share {
    mask-image: url(../icons/share.svg);
    -webkit-mask-image: url(../icons/share.svg);
}

.url-text {
    word-break: break-all;
}

.wp-block-search__input {
    padding: 1em;
    background: var(--body-background);
    color: var(--main-text);
    border-radius: var(--radius-small);
    border: 1px solid var(--sub-text);
    outline: transparent solid 3px;
    transition: .25s;
    transition-property: outline, border;
}

.wp-block-search__input:focus-visible {
    outline: var(--theme-color) solid 3px;
    border: 1px solid transparent;
}

@media (max-width: 1024px) {
    :root {
        --grid-margin: 1rem;

        --heading-padding: 0.75rem;
        --heading-size: 0.8;
    }

    body {
        padding: 0 2vw;
    }

    .body {
        grid-template-columns: 1fr;
    }

    .article-post-link {
        margin-inline: calc(-1 * var(--grid-margin));
    }
}